:root{
    --cor-de-fundo: #5a00ea;
    --verde: #6fff57;
    --botao-ativado: #f01f18;
    --botao-inativado: #ecde16;
    --texto-fundo: rgba(58, 55, 94, 0.3);
}   

body{
    background-color: var(--cor-de-fundo);
    color: white;
    font-family: "Anta", sans-serif;
}

.botao{
    background-color: var(--botao-inativado);
    color: white;
}



