:root{
    --cor-de-fundo: #000000;
    --verde: #6fff57;
    --botao-ativado: #4531f5;
    --botao-inativado: rgba(0, 0, 0, 0.5);
    --texto-de-fundo: rgb(255, 255, 255);
}

body{ 
    background-color: var(--cor-de-fundo);
    color: whitesmoke;
    font-family: "Kode Mono", monospace;
}

.botoes{
    background-color: var(--botao-inativado);
    color: white;
}
